.HomePage {
  background-color: #669bbc;
  text-align: center;
  min-height: 100vh;
}

.HomeHeader {
  background-color: #669bbc;
  justify-content: center;
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
  display: flex;
  height: 60px;
}

.SiteTitle{
  font-weight: bold;
  font-size: 2rem;
  color: white;
}