.HomePage {
  background-color: #669bbc;
  display: flex; 
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.HomeHeader {
  background-color: #669bbc;
  justify-content: center;
  padding-top: 3rem;
  font-size: 2rem;
  color: white;
  display: flex;
  height: 60px;
}

.SiteTitle{
  font-weight: bold;
  font-size: 2rem;
  color: #29335c;
}

.Button {
  padding: 10px 20px; /* Adds space inside the button, [height from top to bottom, height from left to right] */
  border-radius: 8px; /* Rounds the corner */
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;    /* Changes the cursor to a "hand" when you hover over the button. */
  margin-left: 15px;       /* Adds space around the button, outside of it. */
  margin-right: 15px;
  border: none;
  color: #fdf0d5;
}

.ButtonGroup {
  justify-content: center; /* centers buttons horizontally */
  display: flex;
  gap: 20px;               /* space between buttons */
}

.Button:hover {
  background-color: #336683;  /* A darker shade of the original color */
  transform: scale(1.1);       /* Slightly enlarge the button on hover */
}

.Login {
  background-color: #92c39e;
  color: #fdf0d5;
}

.Guest {
  background-color: #e2856e;
  color: #fdf0d5;
}

.Description {
  padding-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #29335c;
  max-width: 50%;
  line-height: 1.6;
}
