.WelcomeHeader{
    font-size: 2rem;
    color: #0d1b2a;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.WebRouletteContainer{
    background-color: #778da9;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

.WelcomeDescription{
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: #0d1b2a;
    line-height: 1.6;
}

.RandomButton{
    padding: 10px 20px;
}